<nav aria-label='breadcrumb'>
    <ol class='breadcrumb breadcrumb-arrow'>
        <li class='breadcrumb-item'><a href='/producttype/index'>Back</a></li>
        <li class='breadcrumb-item'>This is the page for product addition</li>
        
    </ol>
</nav>
<div id='app1' v-cloak>

    <v-app>
         
        <v-card>
          <v-card-title>
          </v-card-title>
          <v-card-text>
            <!--prod is used instead of product for myown better understanding-->
            <v-text-field v-model="prod.productTypeName" label="name" ></v-text-field>
          </v-card-text>
          <v-card-actions>
             <v-btn @@click='add_producttype' color='blue' outlined>
                <v-icon>
                    mdi-content-save-edit
                </v-icon>
             </v-btn>
          </v-card-actions>
          
        </v-card>
    </v-app>
</div>
@section scripts{
    <script>
        var app;
            var component = {
                vuetify: new Vuetify()
                ,
                el:'#app1'
                ,
                data:{
                    prod:{} //this is not array because we want to send the object{}
                    ,
                    
                }//edata
                ,
                created(){
                     
                }//ecreated
                ,
                methods:{
                //I do really need explanation about this
                  add_producttype(){
                   
                    var url = '/producttype/add';
                    var param= this.prod;
                    $.post(url,param)
                    .done(res =>{
                          if(res.error == 0){
                               window.location = '/producttype/index';
                          }
                          else{
                             //alert(res.exception);
                             alert("added with some error");
                          }
                    });
                    
                  }//emethod

                }//emethod
                ,
                 computed:{

                 }//ecomputed
            };
            app = new Vue(component);


    </script>

}
