@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Hello World, Welcome to E-Commerce Website</h2><hr>
    <a class="btn btn-outline-primary" href="/product">Enter Website</a>
</div>

